<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://localhost/5.9.services/" />
    <add key="account" value="1987654323" />
    <add key="key" value="3586A73125BCD9BE" />
    <add key="timeOut" value="300" />
    <add key="ToEmail" value="john.wadlow@avalara.com"/>
  </appSettings>
</configuration>