<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://development.avalara.net" />
    <add key="account" value="1100011668" />
    <add key="key" value="503E9B28BFD4DDEB" />
    <add key="UserName" value="ramkrishna.shenkar@avalara.com" />
    <add key="Password" value="chaMp123" />
    <add key="timeOut" value="300" />
    <add key="ToEmail" value="ramkrishna.shenkar@avalara.com"/>
  </appSettings>
</configuration>